Repository Open-Reviews/Mangrove: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build blog, build api docs, build js lib docs, test js lib, pages, deploy api docs, deploy js lib docs, deploy ui, deploy blog

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy
  - task

image: wilson208/circleci-awscli:node
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ui/node_modules/

build ui:
  stage: build
  script:
    - cd ui
    - yarn install
    - yarn generate
  only:
    changes:
      - ui/**/*
  except:
    - schedules

build blog:
  stage: build
  script:
    - cd blog
    - yarn install
    - yarn build
  only:
    changes:
      - blog/**/*
  except:
    - schedules

build api docs:
  stage: build
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
  only:
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

build js lib docs:
  stage: build
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

test js lib:
  stage: test
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn test
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

pages:
  stage: deploy
  variables:
    BASE_URL: "https://staging.mangrove.reviews"
  stage: deploy
  script:
    - cd ui
    - yarn install
    - yarn generate
    - cd ..
    - mkdir public
    - cp -r ui/dist/* public
  artifacts:
    paths:
      - public
  except:
    - master
    - schedules
  only:
    changes:
      - ui/**/*

deploy api docs:
  stage: deploy
  variables:
    DOCS_BUCKET: "docs.mangrove.reviews"
    DOCS_DIST: "E2HRIGC1I7B7ZA"
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
    - aws s3 rm s3://$DOCS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$DOCS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $DOCS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

deploy js lib docs:
  stage: deploy
  variables:
    JS_BUCKET: "js.mangrove.reviews"
    JS_DIST: "E3PQ8VOO0YPOZI"
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
    - aws s3 rm s3://$JS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$JS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $JS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

deploy ui:
  stage: deploy
  variables:
    BASE_URL: "https://mangrove.reviews"
    UI_BUCKET: "mangrove.reviews"
    UI_DIST: "E3R6KTTYJH0XRG"
    VUE_APP_API_URL: "https://api.mangrove.reviews"
    VUE_APP_FILES_URL: "https://files.mangrove.reviews"
    VUE_APP_UPLOAD_URL: "https://upload.mangrove.reviews"
  script:
    - cd ui
    - yarn install
    - yarn generate
    - aws s3 rm s3://$UI_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$UI_BUCKET
    - aws cloudfront create-invalidation --distribution-id $UI_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - ui/**/*
  except:
    - schedules

deploy blog:
  stage: deploy
  variables:
    BLOG_BUCKET: "blog.mangrove.reviews"
    BLOG_DIST: "E2MJJIV6P7ASG5"
  script:
    - cd blog
    - yarn install
    - yarn build
    - aws s3 rm s3://$BLOG_BUCKET --recursive
    - aws s3 cp --recursive ./public s3://$BLOG_BUCKET
    - aws cloudfront create-invalidation --distribution-id $BLOG_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - blog/**/*
  except:
    - schedules

aggregator:
  stage: task
  image: julia:latest
  script:
    - cd aggregator
    - julia --project -e 'import Pkg; Pkg.instantiate()'
    - julia --project run.jl
  only:
    - schedules

remove log
  ui/store/scheme-types.js
Due: build ui, pages, deploy ui

dont error on no attributes?
  ui/pages/index.vue
Due: build ui, pages, deploy ui

try to fetch if sub
  ui/middleware/search.js
  ui/store/scheme-types.js
Due: build ui, pages, deploy ui

tolerate broken ol
  ui/pages/index.vue
  ui/store/apis.js
Due: build ui, pages, deploy ui

dont show unfiltered reviews only on main page
  ui/components/ReviewList.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

allow for geo search
  ui/components/Review.vue
  ui/middleware/search.js
  ui/store/apis.js
Due: build ui, pages, deploy ui

remove isbn whitespace
  ui/store/apis.js
Due: build ui, pages, deploy ui

review header spacing
  ui/components/Review.vue
Due: build ui, pages, deploy ui

load only relevant points on the map
  ui/pages/list.vue
  ui/pages/search.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

run inference longer
  aggregator/src/Model.jl
Due: none

display line breaks
  ui/components/Review.vue
Due: build ui, pages, deploy ui

try pedestrian as street name
  ui/store/apis.js
Due: build ui, pages, deploy ui

up the opinion to 1000 in spec and server
  Mangrove_Review_Standard.md
  servers/reviewer/docs/mangrove_openapi.yml
  servers/reviewer/src/review.rs
Due: build api docs, deploy api docs

bump opinion length in ui
  ui/utils.js
Due: build ui, pages, deploy ui

check for whitespace in isbn
  servers/reviewer/src/review.rs
Due: none

move images to specific jobs
  .gitlab-ci.yml
Due: none

Revert "move images to specific jobs"
  .gitlab-ci.yml
Due: none

do not ignore highway class
  ui/store/apis.js
Due: build ui, pages, deploy ui

try adding head tags
  ui/pages/build.vue
  ui/pages/contribute.vue
  ui/pages/faq.vue
  ui/pages/index.vue
  ui/pages/standard.vue
  ui/pages/terms.vue
Due: build ui, pages, deploy ui

remove gen dep
  aggregator/Manifest.toml
  aggregator/Project.toml
Due: none

fetch reviews after front page load
  ui/middleware/front.js
  ui/nuxt.config.js
  ui/pages/index.vue
Due: build ui, pages, deploy ui

get name of osm place based on class
  ui/store/apis.js
Due: build ui, pages, deploy ui

add schema extension draft
  servers/reviewer/mangrove.jsonld
Due: none

take out enumeration
  servers/reviewer/mangrove.jsonld
Due: none

rdfs -> rdf
  servers/reviewer/mangrove.jsonld
Due: none

more context
  servers/reviewer/mangrove.jsonld
Due: none

typo
  ui/store/apis.js
Due: build ui, pages, deploy ui

add docs
  ui/store/apis.js
Due: build ui, pages, deploy ui

Deleted proposals/Mangrove x Qwant Partnership Proposal.pdf
  proposals/Mangrove x Qwant Partnership Proposal.pdf
Due: none

start with RDF
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
  servers/reviewer/docs/mangrove_openapi.yml
  servers/reviewer/src/error.rs
  servers/reviewer/src/fetch.rs
  servers/reviewer/src/lib.rs
  servers/reviewer/src/rdf.rs
  servers/reviewer/src/review.rs
Due: build api docs, deploy api docs

add api methods to spec
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
  servers/reviewer/docs/mangrove_openapi.yml
Due: build api docs, deploy api docs

fix ranks and encoding
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
  servers/reviewer/docs/mangrove_openapi.yml
  servers/reviewer/src/lib.rs
  servers/reviewer/src/rdf.rs
Due: build api docs, deploy api docs

footer adjustments
  ui/layouts/default.vue
  ui/store/links.js
Due: build ui, pages, deploy ui

revamp info pages
  ui/assets/contribute_rope_2000x190.jpg
  ui/components/InfoPage.vue
  ui/content/build/download.md
  ui/content/build/embed.md
  ui/content/build/integrate.md
  ui/content/build/intro.md
  ui/content/contribute/code.md
  ui/content/contribute/donate.md
  ui/content/contribute/integrate.md
  ui/content/contribute/spread.md
  ui/content/use_cases/business.md
  ui/content/use_cases/cities.md
  ui/content/use_cases/entrepreneurs.md
  ui/content/use_cases/online.md
  ui/layouts/default.vue
  ui/pages/build.vue
  ui/pages/contribute.vue
  ui/pages/use-cases.vue
Due: build ui, pages, deploy ui

fetch more reviews
  ui/pages/index.vue
Due: build ui, pages, deploy ui

limit post filter
  ui/components/ReviewList.vue
  ui/layouts/default.vue
  ui/pages/index.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

do not display threads on main page
  ui/components/ReviewListBase.vue
Due: build ui, pages, deploy ui

start with blank nodes
  servers/reviewer/src/error.rs
  servers/reviewer/src/rdf.rs
Due: none

import escaped keys
  servers/reviewer/src/rdf.rs
  servers/reviewer/src/review.rs
  ui/components/LogIn.vue
Due: build ui, pages, deploy ui

download link
  ui/layouts/default.vue
Due: build ui, pages, deploy ui
