Repository Open-Reviews/Mangrove: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build blog, build api docs, build js lib docs, test js lib, pages, deploy api docs, deploy js lib docs, deploy ui, deploy blog

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy
  - task

image: wilson208/circleci-awscli:node
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ui/node_modules/

build ui:
  stage: build
  script:
    - cd ui
    - yarn install
    - yarn generate
  only:
    changes:
      - ui/**/*
  except:
    - schedules

build blog:
  stage: build
  script:
    - cd blog
    - yarn install
    - yarn build
  only:
    changes:
      - blog/**/*
  except:
    - schedules

build api docs:
  stage: build
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
  only:
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

build js lib docs:
  stage: build
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

test js lib:
  stage: test
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn test
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

pages:
  stage: deploy
  variables:
    BASE_URL: "https://staging.mangrove.reviews"
  stage: deploy
  script:
    - cd ui
    - yarn install
    - yarn generate
    - cd ..
    - mkdir public
    - cp -r ui/dist/* public
  artifacts:
    paths:
      - public
  except:
    - master
    - schedules
  only:
    changes:
      - ui/**/*

deploy api docs:
  stage: deploy
  variables:
    DOCS_BUCKET: "docs.mangrove.reviews"
    DOCS_DIST: "E2HRIGC1I7B7ZA"
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
    - aws s3 rm s3://$DOCS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$DOCS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $DOCS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

deploy js lib docs:
  stage: deploy
  variables:
    JS_BUCKET: "js.mangrove.reviews"
    JS_DIST: "E3PQ8VOO0YPOZI"
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
    - aws s3 rm s3://$JS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$JS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $JS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

deploy ui:
  stage: deploy
  variables:
    BASE_URL: "https://mangrove.reviews"
    UI_BUCKET: "mangrove.reviews"
    UI_DIST: "E3R6KTTYJH0XRG"
    VUE_APP_API_URL: "https://api.mangrove.reviews"
    VUE_APP_FILES_URL: "https://files.mangrove.reviews"
    VUE_APP_UPLOAD_URL: "https://upload.mangrove.reviews"
  script:
    - cd ui
    - yarn install
    - yarn generate
    - aws s3 rm s3://$UI_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$UI_BUCKET
    - aws cloudfront create-invalidation --distribution-id $UI_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - ui/**/*
  except:
    - schedules

deploy blog:
  stage: deploy
  variables:
    BLOG_BUCKET: "blog.mangrove.reviews"
    BLOG_DIST: "E2MJJIV6P7ASG5"
  script:
    - cd blog
    - yarn install
    - yarn build
    - aws s3 rm s3://$BLOG_BUCKET --recursive
    - aws s3 cp --recursive ./public s3://$BLOG_BUCKET
    - aws cloudfront create-invalidation --distribution-id $BLOG_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - blog/**/*
  except:
    - schedules

aggregator:
  stage: task
  image: julia:latest
  script:
    - cd aggregator
    - julia --project -e 'import Pkg; Pkg.instantiate()'
    - julia --project run.jl
  only:
    - schedules

dummy commit to trigger CI
  widget/src/_test/widget.test.js
Due: none

Layout fixes
  widget/.neutrinorc.js
  widget/src/css/ReviewFormImages.css
  widget/src/css/SubmitReviewPopUp.css
Due: none

fixed file upload issue
  .gitlab-ci.yml
Due: none

UI fixes
  widget/src/ReviewForm.jsx
  widget/src/ReviewSignIn.jsx
  widget/src/css/ReviewForm.css
  widget/src/css/SubmitReviewPopUp.css
Due: none

Fixes inputs on flag form
  widget/src/FlagForm.jsx
Due: none

Add default values to prevent filters from disappearing
  widget/src/ReviewFilters.jsx
Due: none

Add translations for reviewd
  widget/src/Review.jsx
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pl.json
  widget/src/utils/locales/pt.json
Due: none

German text fix
  widget/src/utils/locales/de.json
Due: none

Fix and added test
  widget/src/RatingStars.jsx
  widget/src/_test/widget.test.js
Due: none

fix filter spacing
  widget/src/css/ReviewFilters.css
Due: none

Pt/staging ci fix
  .gitlab-ci.yml
  widget/.neutrinorc.js
  widget/src/_test/widget.test.js
Due: none

minor text change
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pt.json
Due: none

Fixes hiding stars
  widget/src/FormRatingStars.jsx
  widget/src/RatingStars.jsx
Due: none

Fix metadata prefill in review form
  widget/src/ReviewForm.jsx
Due: none

Pt/filter fixes
  widget/src/GlobalState.jsx
  widget/src/Layout.jsx
  widget/src/ReviewFilters.jsx
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pl.json
  widget/src/utils/locales/pt.json
Due: none

Preserve opinion on user login
  widget/src/ReviewForm.jsx
Due: none

Pt/94 remove junk translation keys
  widget/src/_test/widget.test.js
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pl.json
  widget/src/utils/locales/pt.json
Due: none

Added copy source button
  .gitlab-ci.yml
  ui/components/SubjectProfile.vue
  ui/nuxt.config.js
Due: build ui, pages, deploy ui

prod ui deploy fix with dummy change in ui folder to trigger CI
  .gitlab-ci.yml
  ui/README.md
Due: build ui, pages, deploy ui

Added spacing in landing page
  ui/components/Review.vue
  ui/components/TopMenu/TopMenu.vue
  ui/pages/index.vue
  ui/pages/search.vue
Due: build ui, pages, deploy ui

139 profile spacing
  ui/pages/list.vue
Due: build ui, pages, deploy ui

Fixing search results click bug
  ui/components/SubjectList.vue
  ui/store/index.js
  ui/store/mutation-types.js
Due: build ui, pages, deploy ui

Fixed missing reviews on user profile page
  ui/pages/list.vue
Due: build ui, pages, deploy ui

add example subject reviews filtering
  libraries/mangrove-reviews-js/index.js
  servers/reviewer/docs/mangrove_openapi.yml
  servers/reviewer/src/database.rs
Due: build api docs, build js lib docs, test js lib, deploy api docs, deploy js lib docs

remove server pipeline for now
  .gitlab-ci.yml
Due: none

remove also the file server job for now
  .gitlab-ci.yml
Due: none

Fixing images
  ui/components/SubjectProfile.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

update deps
  aggregator/Manifest.toml
Due: none

add common sql operations
  servers/reviewer/README.md
Due: none

140 profile filter disabled
  ui/pages/list.vue
  ui/store/apis.js
Due: build ui, pages, deploy ui

Hide meta tags from home page
  ui/components/Review.vue
  ui/components/ReviewList.vue
  ui/components/ReviewListBase.vue
  ui/pages/index.vue
Due: build ui, pages, deploy ui

Add error check for nominatim API
  ui/store/apis.js
Due: build ui, pages, deploy ui

Add cache to subToSubject method
  ui/store/apis.js
Due: build ui, pages, deploy ui

131 firefox mobile
  ui/components/LogIn.vue
  ui/components/ReviewForm.vue
Due: build ui, pages, deploy ui

146 review cards layout + ui fixes
  ui/components/TopMenu/TopMenu.vue
  ui/pages/index.vue
  widget/src/Review.jsx
  widget/src/css/Layout.css
  widget/src/css/MetadataTags.css
  widget/src/css/Review.css
Due: build ui, pages, deploy ui

155 pagination count config
  widget/src/_test/widget.test.js
  widget/src/widget-init.js
  widget/template-widget-example.ejs
Due: none

Added more menu button to review
  widget/package.json
  widget/src/GlobalState.jsx
  widget/src/Layout.jsx
  widget/src/RawReviewData.jsx
  widget/src/Review.jsx
  widget/src/css/Review.css
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pl.json
  widget/src/utils/locales/pt.json
Due: none

new twitter and element
  ui/store/links.js
Due: build ui, pages, deploy ui

153 review comments ui fixes
  ui/components/Review.vue
  ui/components/ReviewListBase.vue
  ui/components/SelectionMap.vue
  ui/components/SubjectProfile.vue
  ui/layouts/default.vue
  ui/pages/search.vue
Due: build ui, pages, deploy ui

Added images page
  ui/pages/images.vue
Due: build ui, pages, deploy ui
