Repository Open-Reviews/Mangrove: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build blog, build api docs, build js lib docs, test js lib, pages, deploy api docs, deploy js lib docs, deploy ui, deploy blog

build ui:
  stage: build
  script:
  - cd ui
  - yarn install
  - yarn generate

build blog:
  stage: build
  script:
  - cd blog
  - yarn install
  - yarn build

build api docs:
  stage: build
  script:
  - cd servers/reviewer/docs
  - yarn install
  - yarn doc

build js lib docs:
  stage: build
  script:
  - cd libraries/mangrove-reviews-js
  - yarn install
  - yarn doc

test js lib:
  stage: test
  script:
  - cd libraries/mangrove-reviews-js
  - yarn install
  - yarn test

pages:
  stage: deploy
  variables:
    BASE_URL: https://staging.mangrove.reviews
  script:
  - cd ui
  - yarn install
  - yarn generate
  - cd ..
  - mkdir public
  - cp -r ui/dist/* public
  artifacts:
    paths:
    - public

deploy api docs:
  stage: deploy
  variables:
    DOCS_BUCKET: docs.mangrove.reviews
    DOCS_DIST: E2HRIGC1I7B7ZA
  script:
  - cd servers/reviewer/docs
  - yarn install
  - yarn doc
  - aws s3 rm s3://$DOCS_BUCKET --recursive
  - aws s3 cp --recursive ./dist s3://$DOCS_BUCKET
  ...

deploy js lib docs:
  stage: deploy
  variables:
    JS_BUCKET: js.mangrove.reviews
    JS_DIST: E3PQ8VOO0YPOZI
  script:
  - cd libraries/mangrove-reviews-js
  - yarn install
  - yarn doc
  - aws s3 rm s3://$JS_BUCKET --recursive
  - aws s3 cp --recursive ./dist s3://$JS_BUCKET
  ...

deploy ui:
  stage: deploy
  variables:
    BASE_URL: https://mangrove.reviews
    UI_BUCKET: mangrove.reviews
    UI_DIST: E3R6KTTYJH0XRG
    VUE_APP_API_URL: https://api.mangrove.reviews
    VUE_APP_FILES_URL: https://files.mangrove.reviews
    VUE_APP_UPLOAD_URL: https://upload.mangrove.reviews
  script:
  - cd ui
  ...

deploy blog:
  stage: deploy
  variables:
    BLOG_BUCKET: blog.mangrove.reviews
    BLOG_DIST: E2MJJIV6P7ASG5
  script:
  - cd blog
  - yarn install
  - yarn build
  - aws s3 rm s3://$BLOG_BUCKET --recursive
  - aws s3 cp --recursive ./public s3://$BLOG_BUCKET
  ...

Update text
  ui/pages/faq.vue
Due: build ui, pages, deploy ui

Update introducing ORA as new custodian
  ui/content/Mangrove_Original_Services_ToS.md
Due: build ui, pages, deploy ui

Update footer with ORA details
  blog/themes/clover/_config.yml
Due: build blog, deploy blog

update jsonld vocabulary with clientid
  servers/reviewer/mangrove.jsonld
Due: none

more rdf
  servers/reviewer/src/rdf.rs
  servers/reviewer/src/review.rs
Due: none

static logo
  ui/assets/tree.png
  ui/layouts/default.vue
  ui/package.json
  ui/pages/faq.vue
Due: build ui, pages, deploy ui

reduce toc sidebar
  ui/components/MdText.vue
Due: build ui, pages, deploy ui

ntriples fixes
  servers/reviewer/src/rdf.rs
Due: none

fix bool rdf
  servers/reviewer/src/rdf.rs
Due: none

do not append Bool in rdf
  servers/reviewer/src/rdf.rs
Due: none

do not display missing review message on home page
  ui/components/ReviewList.vue
Due: build ui, pages, deploy ui

move schema to ORA
  servers/reviewer/mangrove.jsonld
  servers/reviewer/src/rdf.rs
Due: none

bump sophia and new schema URL
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
  servers/reviewer/src/error.rs
  servers/reviewer/src/rdf.rs
Due: none

new docker base
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
Due: none

update deps
  aggregator/Manifest.toml
Due: none

fix: Installation instructions
  README.md
Due: none

fix: Deprecation warning, set `ssr: false`
  ui/nuxt.config.js
Due: build ui, pages, deploy ui

test: Install and setup vue-test-utils
  ui/babel.config.js
  ui/components/Review.spec.js
  ui/package.json
Due: build ui, pages, deploy ui

test: First meaningful component test
  ui/babel.config.js
  ui/components/Review.spec.js
  ui/package.json
Due: build ui, pages, deploy ui

test: Check if subject title is being displayed
  ui/components/Review.spec.js
Due: build ui, pages, deploy ui

docs: Add testing instructions to README
  ui/README.md
Due: build ui, pages, deploy ui

add tests to CI
  .gitlab-ci.yml
Due: none

test: Reproduce one part of #19
  ui/components/TopMenu/TopMenu.spec.js
  ui/components/TopMenu/TopMenu.vue
  ui/layouts/default.vue
  ui/package.json
Due: build ui, pages, deploy ui

refactor: Use v-btn v-list-item `nuxt` property
  ui/components/TopMenu/TopMenu.vue
Due: build ui, pages, deploy ui

docs: Fix broken link to ToS
  README.md
  ui/content/Mangrove_Review_Standard.md
  ui/pages/standard.vue
Due: build ui, pages, deploy ui

fix: Overlapping table of contents on /standard
  ui/assets/global.css
  ui/components/MdText.vue
  ui/nuxt.config.js
Due: build ui, pages, deploy ui

fix: Remove negative margin
  ui/components/Review.vue
Due: build ui, pages, deploy ui

feat: Setup sitemap
  ui/nuxt.config.js
  ui/package.json
Due: build ui, pages, deploy ui

fix: De-duplicate or fix meta description+title
  ui/nuxt.config.js
  ui/package.json
  ui/pages/account.vue
  ui/pages/faq.vue
  ui/pages/index.vue
  ui/pages/list.vue
  ui/pages/search.vue
  ui/pages/standard.vue
  ui/pages/terms.vue
  ui/pages/use-cases.vue
Due: build ui, pages, deploy ui

ci: Fix build
  ui/nuxt.config.js
Due: build ui, pages, deploy ui

cleaner conditional
  ui/store/index.js
Due: build ui, pages, deploy ui

do not limit number of reviews before filtering
  ui/components/ReviewList.vue
  ui/pages/index.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

fix: ensure enough reviews show on the fron page
  ui/store/index.js
Due: build ui, pages, deploy ui

update link to blog
  ui/layouts/default.vue
Due: build ui, pages, deploy ui

Riot -> Element links
  ui/.vscode/settings.json
  ui/layouts/default.vue
  ui/pages/faq.vue
  ui/store/links.js
Due: build ui, pages, deploy ui

start aggregator tutorial
  aggregator/Manifest.toml
  aggregator/README.md
  aggregator/src/data/Api.jl
  aggregator/src/data/Db.jl
  aggregator/tutorial.jl
Due: none

fix along new Turing interface
  aggregator/src/Model.jl
  aggregator/tutorial.jl
Due: none

update to new Turing chain retrieval interface
  aggregator/src/Job.jl
Due: none

some graphs in tutorial
  aggregator/src/Job.jl
  aggregator/tutorial.jl
Due: none

add server dependency
  README.md
Due: none

Path conditions:
  build ui: any of: ui/**/*
  build blog: any of: blog/**/*
  build api docs: any of: servers/reviewer/docs/**/*
  build js lib docs: any of: libraries/mangrove-reviews-js/**/*
  test js lib: any of: libraries/mangrove-reviews-js/**/*
  pages: any of: ui/**/*
  deploy api docs: any of: servers/reviewer/docs/**/*
  deploy js lib docs: any of: libraries/mangrove-reviews-js/**/*
  deploy ui: any of: ui/**/*
  deploy blog: any of: blog/**/*
