Repository Open-Reviews/Mangrove: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build blog, build api docs, build js lib docs, test js lib, pages, deploy api docs, deploy js lib docs, deploy ui, deploy blog

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy
  - task

image: wilson208/circleci-awscli:node
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ui/node_modules/

build ui:
  stage: build
  script:
    - cd ui
    - yarn install
    - yarn generate
  only:
    changes:
      - ui/**/*
  except:
    - schedules

build blog:
  stage: build
  script:
    - cd blog
    - yarn install
    - yarn build
  only:
    changes:
      - blog/**/*
  except:
    - schedules

build api docs:
  stage: build
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
  only:
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

build js lib docs:
  stage: build
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

test js lib:
  stage: test
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn test
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

pages:
  stage: deploy
  variables:
    BASE_URL: "https://staging.mangrove.reviews"
  stage: deploy
  script:
    - cd ui
    - yarn install
    - yarn generate
    - cd ..
    - mkdir public
    - cp -r ui/dist/* public
  artifacts:
    paths:
      - public
  except:
    - master
    - schedules
  only:
    changes:
      - ui/**/*

deploy api docs:
  stage: deploy
  variables:
    DOCS_BUCKET: "docs.mangrove.reviews"
    DOCS_DIST: "E2HRIGC1I7B7ZA"
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
    - aws s3 rm s3://$DOCS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$DOCS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $DOCS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

deploy js lib docs:
  stage: deploy
  variables:
    JS_BUCKET: "js.mangrove.reviews"
    JS_DIST: "E3PQ8VOO0YPOZI"
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
    - aws s3 rm s3://$JS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$JS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $JS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

deploy ui:
  stage: deploy
  variables:
    BASE_URL: "https://mangrove.reviews"
    UI_BUCKET: "mangrove.reviews"
    UI_DIST: "E3R6KTTYJH0XRG"
    VUE_APP_API_URL: "https://api.mangrove.reviews"
    VUE_APP_FILES_URL: "https://files.mangrove.reviews"
    VUE_APP_UPLOAD_URL: "https://upload.mangrove.reviews"
  script:
    - cd ui
    - yarn install
    - yarn generate
    - aws s3 rm s3://$UI_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$UI_BUCKET
    - aws cloudfront create-invalidation --distribution-id $UI_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - ui/**/*
  except:
    - schedules

deploy blog:
  stage: deploy
  variables:
    BLOG_BUCKET: "blog.mangrove.reviews"
    BLOG_DIST: "E2MJJIV6P7ASG5"
  script:
    - cd blog
    - yarn install
    - yarn build
    - aws s3 rm s3://$BLOG_BUCKET --recursive
    - aws s3 cp --recursive ./public s3://$BLOG_BUCKET
    - aws cloudfront create-invalidation --distribution-id $BLOG_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - blog/**/*
  except:
    - schedules

aggregator:
  stage: task
  image: julia:latest
  script:
    - cd aggregator
    - julia --project -e 'import Pkg; Pkg.instantiate()'
    - julia --project run.jl
  only:
    - schedules

Remove log statements
  ui/pages/images.vue
Due: build ui, pages, deploy ui

Fix parent url
  ui/pages/images.vue
Due: build ui, pages, deploy ui

Fix detail page
  ui/pages/list.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

Dummy commit
  ui/pages/list.vue
Due: build ui, pages, deploy ui

Reverting Detail page changes
  ui/pages/list.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

Fix image grid
  ui/pages/images.vue
Due: build ui, pages, deploy ui

Fix vuelayers version
  ui/package.json
Due: build ui, pages, deploy ui

Add links to comment cards
  ui/components/Review.vue
  ui/components/ReviewList.vue
  ui/components/UserHeader.vue
  ui/pages/list.vue
  ui/store/apis.js
  ui/store/index.js
  ui/store/scheme-types.js
Due: build ui, pages, deploy ui

bump aggregator deps
  aggregator/Manifest.toml
Due: none

Fixed 404 error and user comments toggle
  ui/components/ReviewListBase.vue
  ui/components/UserHeader.vue
  ui/pages/list.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

Fixing download file type for downloading json from account page
  ui/components/KeyList.vue
Due: build ui, pages, deploy ui

Fixed map pin issue
  ui/components/SelectionMap.vue
Due: build ui, pages, deploy ui

FIxed date string
  ui/components/Review.vue
Due: build ui, pages, deploy ui

Add image viewers for review cards
  ui/components/Gallery.vue
  ui/components/Review.vue
  ui/components/SubjectProfile.vue
Due: build ui, pages, deploy ui

show flag text only on comments
  ui/components/Review.vue
Due: build ui, pages, deploy ui

show stars on 0 non-maresi review
  ui/components/Review.vue
Due: build ui, pages, deploy ui

Fixing avatar sizes
  ui/components/Identicon.vue
Due: build ui, pages, deploy ui

Removed seperate comments section
  ui/components/ReviewList.vue
  ui/components/ReviewListBase.vue
  ui/pages/list.vue
Due: build ui, pages, deploy ui

Make reactions section depend on the tab
  ui/components/ReviewList.vue
  ui/pages/list.vue
Due: build ui, pages, deploy ui

Fix counts and reaction filter logic
  ui/components/ReviewList.vue
  ui/components/SchemeFilter.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

Add reactions tab
  ui/components/Review.vue
  ui/components/ReviewList.vue
  ui/components/SchemeFilter.vue
  ui/pages/list.vue
  ui/store/index.js
Due: build ui, pages, deploy ui

add backup schedule
  .gitlab-ci.yml
Due: none

more even rating prior
  aggregator/src/Model.jl
Due: none

Refactor
  ui/components/SchemeFilter.vue
Due: build ui, pages, deploy ui

Refactor
  ui/store/index.js
Due: build ui, pages, deploy ui

better element link
  ui/pages/faq.vue
  ui/store/links.js
Due: build ui, pages, deploy ui

use chat icon for Matrix
  ui/store/links.js
Due: build ui, pages, deploy ui

open widget links in new tab
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pl.json
  widget/src/utils/locales/pt.json
Due: none

correct widget dist id
  .gitlab-ci.yml
Due: none

Add architecture diagram
  README.md
  img/infrastructure.svg
Due: none

Update default image
  .gitlab-ci.yml
Due: none

Fix widget tests
  widget/src/jest.setup.js
Due: none

Stop ignoring nodejs lock files
  .gitignore
  widget/yarn.lock
Due: none

Prevent workflow from running on master for forks
  .gitlab-ci.yml
Due: none

fix build and better url check
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
  servers/reviewer/src/database.rs
  servers/reviewer/src/review.rs
Due: none

update to open-reviews
  README.md
  aggregator/tutorial.jl
  aggregator/yarn.lock
  blog/source/_posts/Project-announcement.md
  blog/source/_posts/UI-announcement.md
  libraries/mangrove-reviews-js/package.json
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
  servers/reviewer/docker-compose.yml
  servers/reviewer/docs/yarn.lock
  ui/yarn.lock
Due: build ui, build blog, build api docs, build js lib docs, test js lib, pages, deploy api docs, deploy js lib docs, deploy ui, deploy blog

resolve deps
  aggregator/Manifest.toml
Due: none

fix julia version in ci
  .gitlab-ci.yml
Due: none

update email
  ui/components/SubjectList.vue
Due: build ui, pages, deploy ui

fix #12: Do not query nominatim so often when opening the home page
  ui/pages/index.vue
Due: build ui, pages, deploy ui
