Repository Open-Reviews/Mangrove: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build blog, build api doc, build js lib doc, test js lib

build ui:
  stage: build
  script:
  - cd ui
  - yarn install
  - yarn generate

build blog:
  stage: build
  script:
  - cd blog
  - yarn install
  - yarn build

build api doc:
  stage: build
  script:
  - cd servers/reviewer/docs
  - yarn install
  - yarn doc

build js lib doc:
  stage: build
  script:
  - cd libraries/mangrove-reviews-js
  - yarn install
  - yarn doc

test js lib:
  stage: test
  script:
  - cd libraries/mangrove-reviews-js
  - yarn install
  - yarn test

splt deploy
  .gitlab-ci.yml
Due: none

back to only/except syntax
  .gitlab-ci.yml
Due: none

turing aggragator and db interface
  .gitignore
  aggregator/Manifest.toml
  aggregator/Project.toml
  aggregator/src/Aggregator.jl
  aggregator/src/Gen/Inference.jl
  aggregator/src/Gen/models/FancyModel.jl
  aggregator/src/Gen/models/HonestModel.jl
  aggregator/src/Gen/models/NullModel.jl
  aggregator/src/Job.jl
  aggregator/src/MangroveBase.jl
  aggregator/src/Model.jl
  aggregator/src/data/Api.jl
  aggregator/src/data/Db.jl
Due: none

delete uncommitted
  aggregator/src/Data.jl
  aggregator/src/Inference.jl
  aggregator/src/models/FancyModel.jl
  aggregator/src/models/HonestModel.jl
  aggregator/src/models/NullModel.jl
  aggregator/src/models/models_base.jl
Due: none

aggregator task
  .gitlab-ci.yml
Due: none

dont run jobs on schedule
  .gitlab-ci.yml
  aggregator/run.jl
Due: none

instantiate julia
  .gitlab-ci.yml
  aggregator/julia.sh
  aggregator/run.jl
Due: none

instantiate before running
  .gitlab-ci.yml
  aggregator/run.jl
Due: none

fix rating notifier
  .gitlab-ci.yml
  aggregator/run.jl
  ui/components/ReviewForm.vue
  ui/components/ReviewListBase.vue
Due: build ui

do not use reviews with missing ratings
  aggregator/src/MangroveBase.jl
  aggregator/src/data/Db.jl
Due: none

pull aggregated qualities from db
  aggregator/Manifest.toml
  aggregator/Project.toml
  aggregator/src/dev.jl
  servers/reviewer/src/aggregator.rs
  servers/reviewer/src/aggregator_schema.rs
  servers/reviewer/src/database.rs
  servers/reviewer/src/lib.rs
  ui/components/SubjectList.vue
  ui/components/SubjectProfile.vue
  ui/store/index.js
Due: build ui

run ui build and deploy on js lib change
  .gitlab-ci.yml
Due: none

new model with bias
  aggregator/Manifest.toml
  aggregator/run.jl
  aggregator/src/Aggregator.jl
  aggregator/src/Gen/models/FancyModel.jl
  aggregator/src/Gen/models/HonestModel.jl
  aggregator/src/Gen/models/NullModel.jl
  aggregator/src/Job.jl
  aggregator/src/MangroveBase.jl
  aggregator/src/Model.jl
  aggregator/src/data/Api.jl
  aggregator/src/data/Db.jl
Due: none

dev notebooks
  aggregator/jupyter/gen_inference.ipynb
  aggregator/jupyter/turing_model.ipynb
Due: none

invert neutrality
  aggregator/jupyter/turing_model.ipynb
  aggregator/src/Aggregator.jl
  aggregator/src/Job.jl
  aggregator/src/Model.jl
  aggregator/src/data/Db.jl
Due: none

more samples in inference
  aggregator/jupyter/turing_model.ipynb
  aggregator/src/Model.jl
Due: none

add new table and API field
  servers/reviewer/src/aggregator.rs
  servers/reviewer/src/aggregator_schema.rs
Due: none

build servers in ci
  .gitlab-ci.yml
Due: none

remove invalidation script
  ui/invalidate.sh
Due: build ui

hide unreliable reviews in ui
  ui/components/ReviewList.vue
Due: build ui

document neutrality in api
  servers/reviewer/docs/mangrove_openapi.yml
Due: build api doc

add more docs about aggregator
  README.md
  aggregator/README.md
Due: none

aggreagtor readme
  aggregator/README.md
Due: none

more code docs
  aggregator/README.md
  aggregator/src/Aggregator.jl
  aggregator/src/Model.jl
Due: none

add geolocation on places filter
  aggregator/jupyter/turing_model.ipynb
  ui/components/SchemeFilter.vue
  ui/components/SearchBox.vue
  ui/pages/search.vue
  ui/store/index.js
Due: build ui

select new subject upon geo search
  ui/pages/search.vue
Due: build ui

remove docstring on model...
  aggregator/src/Model.jl
  ui/pages/index.vue
Due: build ui

display reviews on desktop when in focus
  ui/pages/index.vue
Due: build ui

add context of experience category
  ui/components/MetaForm.vue
Due: build ui

fix login - logout loading, rename to beta
  ui/components/LogIn.vue
  ui/components/LogInDialog.vue
  ui/components/LogOut.vue
  ui/content/index/beta.md
  ui/middleware/front.js
  ui/pages/account.vue
  ui/pages/index.vue
  ui/store/index.js
  ui/store/mutation-types.js
Due: build ui

allow for urls with path
  ui/middleware/search.js
Due: build ui

use blueimp for scaling and rotation
  ui/components/ImageForm.vue
  ui/middleware/search.js
  ui/package.json
Due: build ui

avoid url throw
  .gitlab-ci.yml
  ui/middleware/search.js
  ui/store/scheme-types.js
Due: build ui

dont error on search
  ui/components/Review.vue
  ui/components/ReviewForm.vue
  ui/store/index.js
  ui/store/scheme-types.js
Due: build ui

display error
  ui/layouts/error.vue
Due: build ui

format the menu
  ui/components/Review.vue
Due: build ui

actually display error
  ui/layouts/error.vue
Due: build ui

also in text
  ui/layouts/error.vue
Due: build ui

log in console
  ui/layouts/error.vue
Due: build ui

stringify
  ui/layouts/error.vue
Due: build ui

Path conditions:
  build ui: any of: ui/**/*
  build blog: any of: blog/**/*
  build api doc: any of: servers/reviewer/docs/**/*
  build js lib doc: any of: libraries/mangrove-reviews-js/**/*
  test js lib: any of: libraries/mangrove-reviews-js/**/*
