Repository Open-Reviews/Mangrove: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build blog, build api docs, build js lib docs, test js lib, pages, deploy api docs, deploy js lib docs, deploy ui, deploy blog

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy
  - task

image: wilson208/circleci-awscli:node
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ui/node_modules/

build ui:
  stage: build
  script:
    - cd ui
    - yarn install
    - yarn generate
  only:
    changes:
      - ui/**/*
  except:
    - schedules

build blog:
  stage: build
  script:
    - cd blog
    - yarn install
    - yarn build
  only:
    changes:
      - blog/**/*
  except:
    - schedules

build api docs:
  stage: build
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
  only:
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

build js lib docs:
  stage: build
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

test js lib:
  stage: test
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn test
  only:
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

pages:
  stage: deploy
  variables:
    BASE_URL: "https://staging.mangrove.reviews"
  stage: deploy
  script:
    - cd ui
    - yarn install
    - yarn generate
    - cd ..
    - mkdir public
    - cp -r ui/dist/* public
  artifacts:
    paths:
      - public
  except:
    - master
    - schedules
  only:
    changes:
      - ui/**/*

deploy api docs:
  stage: deploy
  variables:
    DOCS_BUCKET: "docs.mangrove.reviews"
    DOCS_DIST: "E2HRIGC1I7B7ZA"
  script:
    - cd servers/reviewer/docs
    - yarn install
    - yarn doc
    - aws s3 rm s3://$DOCS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$DOCS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $DOCS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - servers/reviewer/docs/**/*
  except:
    - schedules

deploy js lib docs:
  stage: deploy
  variables:
    JS_BUCKET: "js.mangrove.reviews"
    JS_DIST: "E3PQ8VOO0YPOZI"
  script:
    - cd libraries/mangrove-reviews-js
    - yarn install
    - yarn doc
    - aws s3 rm s3://$JS_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$JS_BUCKET
    - aws cloudfront create-invalidation --distribution-id $JS_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - libraries/mangrove-reviews-js/**/*
  except:
    - schedules

deploy ui:
  stage: deploy
  variables:
    BASE_URL: "https://mangrove.reviews"
    UI_BUCKET: "mangrove.reviews"
    UI_DIST: "E3R6KTTYJH0XRG"
    VUE_APP_API_URL: "https://api.mangrove.reviews"
    VUE_APP_FILES_URL: "https://files.mangrove.reviews"
    VUE_APP_UPLOAD_URL: "https://upload.mangrove.reviews"
  script:
    - cd ui
    - yarn install
    - yarn generate
    - aws s3 rm s3://$UI_BUCKET --recursive
    - aws s3 cp --recursive ./dist s3://$UI_BUCKET
    - aws cloudfront create-invalidation --distribution-id $UI_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - ui/**/*
  except:
    - schedules

deploy blog:
  stage: deploy
  variables:
    BLOG_BUCKET: "blog.mangrove.reviews"
    BLOG_DIST: "E2MJJIV6P7ASG5"
  script:
    - cd blog
    - yarn install
    - yarn build
    - aws s3 rm s3://$BLOG_BUCKET --recursive
    - aws s3 cp --recursive ./public s3://$BLOG_BUCKET
    - aws cloudfront create-invalidation --distribution-id $BLOG_DIST --paths "/*"
  only:
    refs:
      - master
    changes:
      - blog/**/*
  except:
    - schedules

aggregator:
  stage: task
  image: julia:latest
  script:
    - cd aggregator
    - julia --project -e 'import Pkg; Pkg.instantiate()'
    - julia --project run.jl
  only:
    - schedules

switch bnode method
  servers/reviewer/src/rdf.rs
Due: none

more explicit license agreement
  ui/components/ReviewForm.vue
Due: build ui, pages, deploy ui

unique bnode identifiers
  servers/reviewer/src/rdf.rs
Due: none

remove sqlite dep
  servers/reviewer/Cargo.lock
  servers/reviewer/Cargo.toml
Due: none

update aws cli name
  servers/file_hoster/deploy.sh
  servers/reviewer/deploy.sh
Due: none

more js docs and tips
  libraries/mangrove-reviews-js/README.md
  libraries/mangrove-reviews-js/index.js
  servers/reviewer/docs/mangrove_openapi.yml
Due: build api docs, build js lib docs, test js lib, deploy api docs, deploy js lib docs

nicer docs formatting and better links
  libraries/mangrove-reviews-js/README.md
  servers/reviewer/docs/mangrove_openapi.yml
Due: build api docs, build js lib docs, test js lib, deploy api docs, deploy js lib docs

delete false metadata flag keys
  libraries/mangrove-reviews-js/index.js
Due: build js lib docs, test js lib, deploy js lib docs

triple =
  libraries/mangrove-reviews-js/index.js
Due: build js lib docs, test js lib, deploy js lib docs

bump js lib version
  libraries/mangrove-reviews-js/package.json
Due: build js lib docs, test js lib, deploy js lib docs

nicer readme
  libraries/mangrove-reviews-js/README.md
Due: build js lib docs, test js lib, deploy js lib docs

filter out test reviews from front page
  aggregator/src/Model.jl
  aggregator/tutorial.jl
  ui/components/ReviewList.vue
Due: build ui, pages, deploy ui

fix scheme fetch
  ui/components/ReviewList.vue
Due: build ui, pages, deploy ui

try to adjust spacing on prod
  ui/components/Review.vue
  ui/components/SubjectList.vue
  ui/components/SubjectProfile.vue
Due: build ui, pages, deploy ui

more padding
  ui/components/Review.vue
Due: build ui, pages, deploy ui

more padding in prod
  ui/components/Review.vue
Due: build ui, pages, deploy ui

handle missing geo subject better
  ui/store/apis.js
Due: build ui, pages, deploy ui

update gitlab link to open-reviews
  ui/components/TopMenu/TopMenu.vue
  ui/content/Mangrove_Original_Services_ToS.md
  ui/content/Mangrove_Review_Standard.md
  ui/pages/faq.vue
  ui/store/index.js
  ui/store/links.js
Due: build ui, pages, deploy ui

bumb how many reviews are fetched for start
  ui/pages/index.vue
Due: build ui, pages, deploy ui

larger filter prelimit
  ui/store/index.js
Due: build ui, pages, deploy ui

unfilter test reviews in subject view
  ui/components/ReviewList.vue
Due: build ui, pages, deploy ui

added Buffer polyfill to webpack required by mangrove-reviews lib
  .gitlab-ci.yml
  widget/.neutrinorc.js
  widget/README.md
  widget/package.json
  widget/src/GlobalState.jsx
  widget/src/IssuerIcon.jsx
  widget/src/Layout.jsx
  widget/src/MetadataTags.jsx
  widget/src/Review.jsx
  widget/src/ReviewFilters.jsx
  widget/src/ReviewForm.jsx
  widget/src/ReviewSignIn.jsx
  widget/src/SubmitReviewPopUp.jsx
  widget/src/_test/widget.test.js
  widget/src/css/Review.css
  widget/src/css/ReviewForm.css
  widget/src/css/ReviewSignIn.css
  widget/src/css/SubmitReviewPopUp.css
  widget/src/jest.setup.env.js
  widget/src/jest.setup.js
  widget/src/mocks/handlers.js
  widget/src/mocks/server.js
  widget/src/mocks/testPayloads.js
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
  widget/src/utils/locales/fr.json
  widget/src/utils/locales/pl.json
  widget/src/utils/locales/pt.json
  widget/template-widget-example.ejs
Due: none

added Buffer polyfill to webpack required by mangrove-reviews lib
  widget/package.json
  widget/src/ErrorMessage.jsx
  widget/src/FlagForm.jsx
  widget/src/FormInput.jsx
  widget/src/GlobalState.jsx
  widget/src/IssuerIcon.jsx
  widget/src/IssuerName.jsx
  widget/src/Layout.jsx
  widget/src/Review.jsx
  widget/src/ReviewFilters.jsx
  widget/src/ReviewForm.jsx
  widget/src/ReviewSignIn.jsx
  widget/src/StatusMessage.jsx
  widget/src/SubmitReviewPopUp.jsx
  widget/src/_test/widget.test.js
  widget/src/assets/copy.svg
  widget/src/css/Layout.css
  widget/src/css/ReviewSignIn.css
  widget/src/jest.setup.js
  widget/src/widget-init.js
Due: none

Fixing filtering logic
  widget/src/GlobalState.jsx
Due: none

Added deploy CI for production
  .gitlab-ci.yml
Due: none

Dummy change to trigger CI
  widget/src/App.jsx
Due: none

UI fixes
  widget/src/Layout.jsx
  widget/src/MetadataTags.jsx
  widget/src/Review.jsx
  widget/src/css/Layout.css
  widget/src/css/MetadataTags.css
  widget/src/css/Review.css
  widget/src/css/ReviewFilters.css
Due: none

More UI fixes
  widget/src/IssuerName.jsx
  widget/src/css/Layout.css
  widget/src/css/MetadataTags.css
  widget/src/css/Review.css
  widget/src/css/ReviewFilters.css
Due: none

Make language selector configurable
  widget/src/App.jsx
  widget/src/Layout.jsx
  widget/src/utils/locales/index.js
  widget/src/widget-init.js
Due: none

Added blacklist filter and test
  widget/src/GlobalState.jsx
  widget/src/LocaleSwitch.jsx
  widget/src/ReviewFilters.jsx
  widget/src/_test/widget.test.js
  widget/src/widget-init.js
Due: none

Added German translation
  widget/src/utils/locales/de.json
  widget/src/utils/locales/en.json
Due: none

Fixing dotenv config to read env variables in CI
  widget/.neutrinorc.js
Due: none

Added automated filters with tests
  widget/src/GlobalState.jsx
  widget/src/Review.jsx
  widget/src/_test/widget.test.js
  widget/src/mocks/testPayloads.js
  widget/src/widget-init.js
Due: none

add selector to preview file
  widget/template-widget-example.ejs
Due: none

Pt/configure ratings calculation
  widget/src/Subject.jsx
  widget/src/_test/widget.test.js
  widget/src/widget-init.js
Due: none

Remove version numbers from production deployment
  .gitlab-ci.yml
  widget/.neutrinorc.js
Due: none

fix file names
  widget/.neutrinorc.js
Due: none

fix failing deploy
  widget/.neutrinorc.js
Due: none

Fix ci File
  .gitlab-ci.yml
Due: none
